[Unit]
Description=Fetchmail
After=network.target mysqld.service

[Service]
ExecStartPre=/bin/sh -c "/usr/bin/mkdir -p -m 777 /var/run/fetchmail"
ExecStart=/bin/sh -c "/usr/bin/perl /usr/share/doc/zarafa-postfixadmin/ADDITIONS/fetchmail.pl"
User=fetchmail
Group=nobody

[Install]
WantedBy=multi-user.target