[Unit]
Description=Description=postfixadmin-zarafa

[Service]
Type=simple
ExecStart=/usr/share/postfixadmin-zarafa/postfixadmin-zarafa.sh
WorkingDirectory=/var/lib/postfixadmin-zarafa
User=root
Group=root

[Install]
WantedBy=multi-user.target