[Unit]
Description=Description=zarafa-postfixadmin
Wants=mysqld.service zarafa-server.service
After=mysqld.service zarafa-server.service

[Service]
Type=simple
ExecStart=/usr/share/zarafa-postfixadmin/zarafa-postfixadmin
WorkingDirectory=/var/lib/zarafa-postfixadmin
User=root
Group=root

[Install]
WantedBy=multi-user.target